:root {
    --primaryColor: #243f66;
    --dark-x: #1d2027;
    --light-blue-x3: #71b9f4;
    --light-blue-x2: #287bce;
    --light-blue-x4: #214f87;
    --blue-primary: #243f66;
    --grey-wf: #ebece6;
}

@font-face{
        font-family: 'monstserrat extra bold 0';
        src: url(../fonts/MontserratFont/Montserrat-ExtraBold_0.ttf);}
        
@font-face{
    font-family: 'monstserrat light 0';
    src: url(../fonts/MontserratFont/Montserrat-Light_0.ttf);}

@font-face{
    font-family: 'monstserrat-Regular';
    src: url(../fonts/MontserratFont/Montserrat-Regular.ttf);}
    

html, body {
    height: 100%;
    background-color: var(--dark-x);
}

.bg-dark { background-color: var(--primaryColor) !important; }

.navbar {
    min-height: 5rem;
}

#hero-container {
    height: 658px;
}

#hero-background {
    background-color: var(--dark);
    position: absolute;
    width: 0;
    height: 600px;
    transition: 1s ease-in-out;
}

#hero-img {
    width: 100%;
    max-width: 450px;
    opacity: 0;
    z-index: 1000;
    transition: 2s ease-in-out;
}

.img-container {
    display: flex;
    justify-content: center;
    min-height: 600px;
    align-items: center;
}

#lines {
    opacity: 0;
    z-index: 999;
    transition: 1s ease-in-out;
}

.spin {
    width: 100%;
    max-width: 450px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* Style the header: fixed position (always stay at the top) */
.heprogress-bar-containerader {
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: #f1f1f1;
  }

  .navbar {
    background-color: transparent !important

  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }


/* ESTILOS PROPIOS */

.lightMontse{
    font-family: 'monstserrat light 0';
}

.regularMonts{
    font-family: 'monstserrat-Regular';
}

.extraBoldMontse{
    font-family: 'monstserrat extra bold 0';
}

.centrar{
    align-self: center;
}

.zero-padding-right{
    padding-right: 0rem;
}

.primary-wf-text-color{
    color: var(--blue-primary);
}

.light-blue-x3-text-color{
    color: var(--light-blue-x3);
}

.background-primary-color{
    background-color: var(--blue-primary);
}

.background-light-blue-x2{
    background-color: var(--light-blue-x2);
}

.background-light-blue-x3{
    background-color: var(--light-blue-x3);
}

.background-light-blue-x4{
    background-color: var(--light-blue-x4);
}

.background-grey-wf{
    background-color: var(--grey-wf);
}

.icon-white{
    color: white;
}

.form-contact{
    border-radius: 10px; 
    border: 0;
    padding-left: 15px;
    width: 100%;
    margin-top: 15px;
    height: 35px;
}

/* BOTON FLOTANTE WSP */
.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:40px;
    bottom:40px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

/*video de seccion nosotros*/
#videoHome {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  #videoHome2 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
  }

.nav-link{
    color: white;
    font-size: 20px;
    font-family: 'monstserrat light 0';
}

.input-form-div{
    padding-left: 0px;
}

.item-contact{
    font-size: 20px;
}

.barra-active{
    border-bottom: 8px solid white  !important;
    
}

.nav-item{
    border-bottom: 1px solid white;
}

.price-table{
    background-color: #ebece6;
    padding-top: 20px;
    border-radius: 10px; 
    border: 0;
    width: 90%;
    margin: auto;       
}
.price-table ul li {
    list-style-type: none;
    color: var(--blue-primary);
    font-family: 'monstserrat-Regular';
    font-size: 18px;
}

.card-monto{
    font-size: 30px;
}

.social-menu  li {
    list-style-type: none;
    margin-top: 15px;
    position: relative;
    left: -15px;
    text-align: left;
}

/*Strong signal*/
.iconic-signal.iconic-signal-strong .iconic-signal-base {
    fill:#569e26;
}
.iconic-signal.iconic-signal-strong .iconic-signal-wave * {
    stroke:#569e26;
}

.margin-80px{
    margin-bottom: -80px;
}

.hide{
    opacity: 0;
}

.boton-cardPrice{

    border-radius: 10px; 
    border: 0;
    margin-bottom: 20px;
    width: 60%;
}


  .active {
    background: dodgerblue;
  }
  
  .active ~ .stepLine {
    background: lightblue;
  }
  
  .active ~ .stepLine::before {
    background: lightblue;
  }


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#hero-text {
    opacity: 0;
    transition: 2s ease-in-out;
}

.btn {
    padding: .75rem 2rem;
}

.navBarBoton{
    position: absolute;
    right: 0;
    margin-right: 50px;

}




@media (max-width: 1024px) {
   .display-1 {
       font-size: 3rem;
   }
   .seccionesPropias{
       height: 1400px;
   }
}

@media (max-width: 768px) {
    #hero-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    #hero-container {
        height: unset;
    }
    #hero-background {
        height: 100%;
    }
    .seccionesPropias{
        height: auto;
    }
}

@media (max-width: 575.98px) { 
    .btn {
        width: 100%;
    }
    .spin {
        max-width: 260px;
    }
 }


 /**
*Accordion
**/

#accordion .panel {
    background: none;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#accordion .panel .panel-title {
    padding: 30px 0 30px 60px;
    position: relative;
}

#accordion .panel .panel-collapse {
    padding-left: 60px;
}

#accordion .panel .panel-title a span:after,
#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 36px;
    height: 36px;
    background: #2f60c3;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span:after {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

#accordion .panel .panel-title a span:before {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg)
}

#accordion .panel .panel-title a[aria-expanded="true"] span:before {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg)
}


/* accordion derecha */

/**
*Accordion
**/

#accordion2 .panel {
    background: none;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#accordion2 .panel .panel-title {
    padding: 30px 0 30px 60px;
    position: relative;
}

#accordion2 .panel .panel-collapse {
    padding-left: 60px;
}

#accordion2 .panel .panel-title a span:after,
#accordion2 .panel .panel-title a span:before,
#accordion2 .panel .panel-title a span {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 36px;
    height: 36px;
    background: #2f60c3;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


#accordion2 .panel .panel-title a span:before,
#accordion2 .panel .panel-title a span:after {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

#accordion2 .panel .panel-title a span:before {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg)
}

#accordion2 .panel .panel-title a[aria-expanded="true"] span:before {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg)
}


