:root {
    --primaryColor: #243f66;
    --dark-x: #1d2027;
    --light-blue-x3: #71b9f4;
    --light-blue-x2: #287bce;
    --light-blue-x4: #214f87;
    --blue-primary: #243f66;
    --grey-wf: #ebece6;
}

@font-face{
        font-family: 'monstserrat extra bold 0';
        src: url(../fonts/MontserratFont/Montserrat-ExtraBold_0.ttf);}
        
@font-face{
    font-family: 'monstserrat light 0';
    src: url(../fonts/MontserratFont/Montserrat-Light_0.ttf);}

@font-face{
    font-family: 'monstserrat-Regular';
    src: url(../fonts/MontserratFont/Montserrat-Regular.ttf);}
    

html, body {
    height: 100%;
    background-color: var(--dark-x);
}

.bg-dark { background-color: var(--primaryColor) !important; }

.navbar {
    min-height: 5rem;
}

#hero-container {
    height: 658px;
}

#hero-background {
    background-color: var(--dark);
    position: absolute;
    width: 0;
    height: 600px;
    transition: 1s ease-in-out;
}

#hero-img {
    width: 100%;
    max-width: 450px;
    opacity: 0;
    z-index: 1000;
    transition: 2s ease-in-out;
}

.img-container {
    display: flex;
    justify-content: center;
    min-height: 600px;
    align-items: center;
}

#lines {
    opacity: 0;
    z-index: 999;
    transition: 1s ease-in-out;
}

.spin {
    width: 100%;
    max-width: 450px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* Style the header: fixed position (always stay at the top) */
.heprogress-bar-containerader {
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: #f1f1f1;
  }

  .navbar {
    background-color: transparent !important

  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }


/* ESTILOS PROPIOS */

.icono-flecha{
    margin-top: -20px;
    margin-bottom: 30px;
}

.lightMontse{
    font-family: 'monstserrat light 0';
}

.regularMonts{
    font-family: 'monstserrat-Regular';
}

.extraBoldMontse{
    font-family: 'monstserrat extra bold 0';
}

.centrar{
    align-self: center;
}

.zero-padding-right{
    padding-right: 0rem;
}

.primary-wf-text-color{
    color: var(--blue-primary);
}

.light-blue-x3-text-color{
    color: var(--light-blue-x3);
}

.background-primary-color{
    background-color: var(--blue-primary);
}

.background-light-blue-x2{
    background-color: var(--light-blue-x2);
}

.background-light-blue-x3{
    background-color: var(--light-blue-x3);
}

.background-light-blue-x4{
    background-color: var(--light-blue-x4);
}

.background-grey-wf{
    background-color: var(--grey-wf);
}

.icon-white{
    color: white;
}

.form-contact{
    border-radius: 10px; 
    border: 0;
    padding-left: 15px;
    width: 100%;
    margin-top: 15px;
    height: 35px;
}

/* BOTON FLOTANTE WSP */
.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right:40px;
    bottom:40px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

/*video de seccion nosotros*/
#videoHome {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  #videoHome2 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 0;
  }

.nav-link{
    color: black !important;
    font-size: 20px;
    font-family: 'monstserrat light 0';
}

.input-form-div{
    padding-left: 0px;
}

.item-contact{
    font-size: 20px;
}

.barra-active{
    border-bottom: 8px solid white  !important;
    
}

.nav-item{
    border-bottom: 1px solid white;
}

.price-table{
    background-color: #ebece6;
    padding-top: 20px;
    border-radius: 10px; 
    border: 0;
    width: 90%;
    margin: auto;       
}
.price-table ul li {
    list-style-type: none;
    color: var(--blue-primary);
    font-family: 'monstserrat-Regular';
    font-size: 18px;
}

.card-monto{
    font-size: 30px;
}

.social-menu  li {
    list-style-type: none;
    margin-top: 15px;
    position: relative;
    left: -15px;
    text-align: left;
}

/*Strong signal*/
.iconic-signal.iconic-signal-strong .iconic-signal-base {
    fill:#569e26;
}
.iconic-signal.iconic-signal-strong .iconic-signal-wave * {
    stroke:#569e26;
}

.margin-80px{
    margin-bottom: -80px;
}

.hide{
    opacity: 0;
}

.boton-cardPrice{

    border-radius: 10px; 
    border: 0;
    margin-bottom: 20px;
    width: 60%;
}


  .active {
    background: dodgerblue;
  }
  
  .active ~ .stepLine {
    background: lightblue;
  }
  
  .active ~ .stepLine::before {
    background: lightblue;
  }


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#hero-text {
    opacity: 0;
    transition: 2s ease-in-out;
}

.btn {
    padding: .75rem 2rem;
}

.navBarBoton{
    position: absolute;
    right: 0;
    margin-right: 50px;

}




@media (max-width: 1024px) {
   .display-1 {
       font-size: 3rem;
   }
   .seccionesPropias{
       height: 1400px;
   }
}

@media (max-width: 768px) {
    #hero-content {
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    #hero-container {
        height: unset;
    }
    #hero-background {
        height: 100%;
    }
    .seccionesPropias{
        height: auto;
    }
}

@media (max-width: 575.98px) { 
    .btn {
        width: 100%;
    }
    .spin {
        max-width: 260px;
    }
 }


 /**
*Accordion
**/

#accordion .panel {
    background: none;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#accordion .panel .panel-title {
    padding: 30px 0 30px 60px;
    position: relative;
}

#accordion .panel .panel-collapse {
    padding-left: 60px;
}

#accordion .panel .panel-title a span:after,
#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 36px;
    height: 36px;
    background: #2f60c3;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span:after {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

#accordion .panel .panel-title a span:before {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg)
}

#accordion .panel .panel-title a[aria-expanded="true"] span:before {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg)
}


/* accordion derecha */

/**
*Accordion
**/

#accordion2 .panel {
    background: none;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#accordion2 .panel .panel-title {
    padding: 30px 0 30px 60px;
    position: relative;
}

#accordion2 .panel .panel-collapse {
    padding-left: 60px;
}

#accordion2 .panel .panel-title a span:after,
#accordion2 .panel .panel-title a span:before,
#accordion2 .panel .panel-title a span {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 36px;
    height: 36px;
    background: #2f60c3;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


#accordion2 .panel .panel-title a span:before,
#accordion2 .panel .panel-title a span:after {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

#accordion2 .panel .panel-title a span:before {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg)
}

#accordion2 .panel .panel-title a[aria-expanded="true"] span:before {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg)
}


/** FOOTER  **/

.footer {
    background-color: #f3ecec;
    clear: both;
    font-family: "Poppins", sans-serif;
  }
  
  .footer article {
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .footer article .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 35px;
    margin-bottom: 35px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 50px;
  }
  
  .footer article .row1 .caja {
    width: 340px;
  }
  
  .footer article .row1 .caja h4 {
    margin-bottom: 10px;
    color: #4e4b4b;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer article .row1 .caja p {
    font-size: 15px;
    color: #666464;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
  }
  
  .footer article .row1 .caja .campo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 7px;
  }
  
  .footer article .row1 .caja .campo i {
    margin-right: 15px;
    color: #444242;
  }
  
  .footer article .row1 .caja .campo .direccion {
    line-height: 20px;
  }
  
  .footer article .row1 .caja .ubic {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 3px;
  }
  
  .footer article .row1 .caja .redes {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .footer article .row1 .caja .redes .iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer article .row1 .caja .redes .iconos a {
    text-decoration: none;
  }
  
  .footer article .row1 .caja .redes .iconos a i {
    color: #444242;
    font-size: 1.5em;
  }
  
  .footer article .row1 .caja .redes .iconos a:focus {
    outline: none;
  }
  
  .footer article .row1 .caja .marca {
    margin-top: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .footer article .row1 .newsletter {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3ecec), to(black));
    background: linear-gradient(to bottom, #f3ecec, black);
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 5px;
    -webkit-box-shadow: 3px 4px 3px grey;
            box-shadow: 3px 4px 3px grey;
    margin-left: -90px;
    width: 23vw;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
  }
  
  .footer article .row1 .newsletter h3 {
    margin-top: -25px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 2px 2px #aca5a5;
  }
  
  .footer article .row1 .newsletter h3 span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .footer article .row1 .newsletter p {
    text-align: center;
    width: 280px;
    line-height: 16px;
    color: #c0b8b8;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
  }
  
  .footer article .row1 .newsletter .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 270px;
  }
  
  .footer article .row1 .newsletter .form .insertemail {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 25px;
    border: 1px solid #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 30px;
  }
  
  .footer article .row1 .newsletter .form .insertemail:hover {
    -webkit-box-shadow: 1px 2px 2px #f3ecec;
            box-shadow: 1px 2px 2px #f3ecec;
  }
  
  .footer article .row1 .newsletter .form .insertemail:focus ~ i {
    color: black;
  }
  
  .footer article .row1 .newsletter .form i {
    position: absolute;
    font-size: 18px;
    color: #575353;
    right: 16px;
  }
  
  .footer article .footer-mobile {
    display: none;
  }
  
  .footer article .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 16vw;
    margin-left: 50px;
    padding-bottom: 40px;
  }
  
  .footer article .row2 h4 {
    font-family: "Open Sans", sans-serif;
    display: block;
    margin-right: 40px;
    color: #4e4b4b;
    font-weight: bold;
    font-size: 16px;
  }
  
  .footer article .row2 .img-pagos i {
    margin-right: 10px;
    font-size: 2.4em;
  }
  
  .footer .copy {
    background-color: #fff;
    height: 55px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15px;
  }
  
  .footer .copy a {
    text-decoration: none;
    margin-top: -13px;
    margin-left: 2px;
  }
  
  .footer .copy a img {
    width: 105px;
    height: 36px;
  }
  
  .footer .copy a:focus {
    outline: none;
  }
  
  .footer .copy p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
  }
  
  @media screen and (max-width: 600px) {
    .footer {
      width: 100%;
      margin-top: 25px;
      overflow: hidden;
    }
    .footer article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .footer article .row1 {
      display: initial;
      padding-top: 0px;
      margin-bottom: 0px;
      width: 100%;
      margin-left: 0px;
    }
    .footer article .row1 .ServCliente {
      display: none;
    }
    .footer article .row1 .Nosotros {
      display: none;
    }
    .footer article .row1 .newsletter {
      display: none;
    }
    .footer article .row1 .Contacto {
      width: 95%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 15px;
      margin-left: 15px;
    }
    .footer article .row1 .Contacto h4 {
      display: none;
    }
    .footer article .row1 .Contacto p {
      line-height: 0px;
      margin-bottom: 0px;
      font-size: 14px;
    }
    .footer article .row1 .Contacto .campo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-bottom: 7px;
      width: 100%;
      padding-left: 15px;
    }
    .footer article .row1 .Contacto .campo i {
      margin-right: 10px;
    }
    .footer article .row1 .Contacto .campo .direccion {
      line-height: 20px;
      width: 70%;
    }
    .footer article .row1 .Contacto .campo p {
      line-height: 0px;
    }
    .footer article .row2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 80%;
      margin-left: 0px;
      margin-bottom: 10px;
      padding: 0px;
      padding-bottom: 7px;
    }
    .footer article .row2 h4 {
      font-size: 16px;
      text-align: center;
      margin-left: 0px;
      width: 100%;
      margin-right: 0px;
      margin-top: 10px;
    }
    .footer article .row2 img {
      width: 35px;
      height: 23px;
      margin-right: 5px;
      margin-left: 5px;
    }
    .footer article .row2 .img-pagos {
      margin-left: auto;
      margin-right: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    .footer article .footer-mobile {
      display: initial;
    }
    .footer article .footer-mobile .redes {
      width: 90%;
      border-bottom: 1px solid grey;
      border-top: 1px solid grey;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    .footer article .footer-mobile .redes .iconos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
    }
    .footer article .footer-mobile .redes .iconos a i {
      font-size: 2em;
    }
    .footer article .footer-mobile .redes .iconos a img {
      width: 32px;
      height: 32px;
    }
    .footer article .footer-mobile .ServCliente-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      margin-bottom: 10px;
      margin-top: 15px;
    }
    .footer article .footer-mobile .ServCliente-mobile div {
      width: 100%;
    }
    .footer article .footer-mobile .ServCliente-mobile div a {
      text-decoration: none;
      display: block;
      margin-left: 13px;
      margin-right: 13px;
      line-height: 15px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .footer {
      overflow: hidden;
    }
    .footer article .row1 {
      position: relative;
    }
    .footer article .row1 .newsletter {
      display: none;
    }
    .footer article .row1 .Contacto {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 0px;
      margin-left: 80px;
    }
    .footer article .row1 .Contacto p {
      line-height: 0px;
      margin-bottom: 0px;
      font-size: 14px;
    }
    .footer article .row1 .Contacto h4 {
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .footer article .row1 .Contacto .campo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin-bottom: 16px;
      width: 100%;
    }
    .footer article .row1 .Contacto .campo i {
      margin-right: 10px;
    }
    .footer article .row1 .Contacto .campo .direccion {
      line-height: 20px;
      width: 70%;
    }
    .footer article .row1 .Contacto .campo p {
      line-height: 0px;
    }
    .footer article .row1 .Nosotros {
      position: absolute;
      right: 0px;
      top: 260px;
    }
    .footer article .row1 .Nosotros .marca {
      display: none;
    }
  }
  
  @media screen and (min-width: 901px) and (max-width: 1250px) {
    .footer {
      overflow: hidden;
    }
    .footer article .row1 {
      position: relative;
    }
    .footer article .row1 .newsletter {
      display: none;
    }
    .footer article .row1 .Contacto .campo {
      width: 80%;
    }
    .footer article .row1 .Nosotros {
      margin-left: -20px;
    }
    .footer article .row1 .Nosotros .marca {
      display: block;
      margin-top: 40px;
    }
  }
  
  @media screen and (min-width: 12511px) and (max-width: 1250px) {
    .footer {
      overflow: hidden;
    }
    .footer article .row1 .newsletter {
      display: none;
    }
  }
  /*# sourceMappingURL=estilos.css.map */